.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-container{
    background-color: antiquewhite;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* background-color: rgb(228, 249, 242); */
}